HTML CSS JSResult Skip Results Iframe
body, html{
  background: #181E24;
  padding-top: 10px;
}

.wrapper{
  width:60%;
  display:block;
  overflow:hidden;
  margin:0 auto;
  padding: 60px 50px;
  background:#fff;
  border-radius:4px;
}

canvas{
  background:#fff;
  height:400px;
}

h1{
  font-family: Roboto;
  color: #fff;
  margin-top:50px;
  font-weight:200;
  text-align: center;
  display: block;
  text-decoration: none;
}

.table-section{
  padding: 50px;
}
.table{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.table h5, .table-section h5 {
text-align: center;
}
.content-table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15)
}

.content-table thead tr{
  background-color: #0eaa05;
  color: white;
  text-align: left;
  font-weight: bold;
}
.content-table th, .content-table td{
  padding: 12px 15px;
}
.content-table tbody tr{
  border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even){
  background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type{
  border-bottom: 2px solid #009879;
}